@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: #1C6758;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 36px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}



.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 90px;
}

.add-form {
  display: flex;

}

.input-container {
  display: flex;
  justify-content: center;
}

.input-id {
  display: flex;
  background-color: #EEF2E6;
  outline: none;
  border: none;
  padding: 15px 10px;
  border-radius: 0px 8px 8px 0px;
  width: 150px;
  color: #1C6758;
  padding-left: 5px;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
}

.input-id::placeholder {
  color: #D6CDA4;
  font-size: 16px;
}

.input-container i {
  background-color: #EEF2E6;
  border-radius: 8px 0px 0px 8px;
  padding: 16px;
  color: #1C6758;
  font-size: 24px;
}

.btn-send {
background-color: #3D8361;
  outline: none;
  border: 0px solid;
  padding: 10px 40px;
  border-radius: 8px;
  color: #EEF2E6;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  font-weight: bolder;
  transition: all 0.3s ease-in-out;

}

.container-result {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: min(550px, 90%);
  gap: 14px;
}

.result, small {
  background: #3D8361;
  color: #EEF2E6;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

small {
    background: #E64848;
    color: #FFFDE3;
    font-size: 14px;
    }

.icon-result{
    font-size: 24px;
}



.btn-send:hover {
background-color: #EEF2E6;
color: #1C6758;
}

/* 
@media (max-width: 576px) {
  .input-text {
    width: 100%;
  }

  .input-container {
    width: 95%;
  }

  .add-container {
    justify-content: center;
    gap: 1rem;
  }

  .todo-container {
    padding: 2rem 1rem;
    justify-content: center;
    align-items: center;
  }

  .add-btn {
    width: 95%;
  }
} */
